.Gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 215px 200px;
}

.pics {
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.pics:hover {
    filter: brightness(75%);
}

@media (max-width: 991px) {
    .Gallery {
        grid-template-columns: repeat(2, 1fr);
        padding: 200px 20px;
    }
}

@media (max-width: 480px) {
    .Gallery {
        grid-template-columns: 1fr;
        padding: 200px 20px;
    }
}
